<div class = 'row'>
  <div class = 'col-md-4'>
    <h1>TO DO</h1>
      <div class = 'panel panel-info'>
        <div class = 'panel-heading'>My To Do</div>
          <div clas = 'panel-body'>This is my todo list</div>
            <div class = 'panel-footer'>This is the footer</div>
      </div>
  </div>

  <div class = 'col-md-4'>
    <h1>DOING</h1>
      <div class = 'panel panel-info'>
        <div class = 'panel-heading'>Doing</div>
          <div clas = 'panel-body'>This is my todo list</div>
            <div class = 'panel-footer'>This is the footer</div>
      </div>
  </div>

  <div class = 'col-md-4'>
    <h1>DONE</h1>
      <div class = 'panel panel-info'>
        <div class = 'panel-heading'>Done</div>
          <div clas = 'panel-body'>This is my todo list</div>
            <div class = 'panel-footer'>This is the footer</div>
      </div>
  </div>

</div>